// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$red: #dc3444;
$dark : #162B44;
$light: #F8F8F8;
$light-dark: #ECECEC;
$white: #FFFFFF;
$link: #007EF2;
$light-dark-v2: #A7A7A7;
